:root {
  --black: #161a2b;
  --white: #ffffff;
}

body {
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #161a2b;
  background-image: none;
} 


.main-outer-div{
  margin: 15px;
  padding-top: 10px;
  min-height: 85vh;
  min-width: 1200px;
  animation: fadeIn 0.5s 1;
}


.form-div{
  padding-bottom: 0px;
  /* border-bottom: 3px solid rgba(255, 84, 17, 1); */
}


.tree-outer-div{
  max-width:fit-content;
  margin: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}


.tree-main-div{
  text-align: center;
  width:max-content;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  z-index: 2;
}


.rows{
  display: block;
  margin-top: 40px;
  text-align: center;
}


.tree-node-div{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  width: 45px;
  height: 45px;
  /* max-width: 40px; */
  background-color: rgba(17, 122, 255, 1);
  background: linear-gradient(
      90deg,
      rgba(20, 159, 255, 1) 0%,
      rgba(17, 122, 255, 1) 100%
  );
  margin: auto;
  color: #fff;
  /* border: 1px solid white; */
  text-align: center;
  border-radius: 25%;
  opacity: 0.99;
}


.transparent{
  background-color: transparent;
  background: none;
  border: transparent;
  /* border: 1px solid white; */
  width: 45px;
  height: 25px;
}


.searched{
  /* border: 2px solid rgba(17, 122, 255, 1); */
  background-color: rgb(84, 202, 29)  ;
  background: linear-gradient(
  90deg,
  rgb(93, 187, 49) 0%,
  rgb(84, 202, 29) 100%
);
}


.bst-form {
  margin-bottom: 32px;
  margin-left: 4px;
  margin-right: 4px;
  max-width: fit-content;
  display: inline-flex;
}


.operation-input{
  padding: 12px;
  border-radius: 4px;
  border: 2px solid #5d0cff;
  outline: none;
  width: 80px;
  background: transparent;
  color: #fff;
}


/* Chrome, safari */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

/* Firefox */
input[type=number] {
-moz-appearance: textfield;
}


.operation-button{
  padding: 14px;
  border: none;
  margin-left: 5px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
  90deg,
  rgba(93, 12, 255, 1) 0%,
  rgba(155, 0, 250, 1) 100%
  );
  color: #fff;
  text-transform: capitalize;
}


.function-button{
  padding: 14px;
  border: none;
  margin-left: 5px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  background-color: rgb(84, 202, 29)  ;
  background: linear-gradient(
      90deg,
      rgb(93, 187, 49) 0%,
      rgb(84, 202, 29) 100%
  );
  color: #fff;
  text-transform: capitalize;
}

/* Slider For animation toggle */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 8px;
  margin-right: 3px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(84, 202, 29)  ;
  background: linear-gradient(
      90deg,
      rgb(93, 187, 49) 0%,
      rgb(84, 202, 29) 100%
  );
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}